@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
html {
--h1Text: "Bitcount Grid Double", system-ui ;    
}
h1{
font-family: var(--h1Text);
font-weight: 300; 
font-size: 3rem;   
} 
.header {
display: grid;
grid-template-columns: 100%;
grid-template-rows: 30% 70%;    
}

.bottom-header {
background-color: lightgray;   
display: flex; 
border-top:lightblue solid 1px;
}

.left {
display: flex;
align-items: center;    
height: 100%;
width: 50%;
}
.right {
display: flex;
justify-content: end;   
height: 100%;
width: 50%; 
}
.item {
display: flex; 
align-items: center;   
justify-content: end;
}
.item > img {
height: 100%;
width: 10%;
}
.item > h2:hover {
text-decoration: underline;    
cursor: pointer;
}

.libaryContainer{
display: grid;   
grid-template-columns:  repeat(10, 10%);
grid-template-rows: repeat(2, 50%);
grid-auto-flow: row;
height: 80vh;
width: 100%;
overflow: hidden;
gap: 2.5%;
}

.bookTemplate {
grid-column: span 2;
grid-row: span 1;
border: lightblue solid 2px;
border-radius: 40px;  
display: flex;
flex-direction: column;
}

.titleTemplateHolder {
display: flex;
justify-content: start;
margin-top: 5%;
width: 100%;    
}
.titleTemplateHolder::before {
content: "Title"":" ;    
}


.addABookForm{
display: none;    
}